{% extends 'base.html' %}
{% block content_head %}
<div>
    {% if user.is_authenticated %}
    {% if perms.blog.add_post %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon-plus"></span> </a>
    {% endif %}
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            Привет, {{ user.username }}<small>(<a href="{% url 'logout' %}">Выйти</a>)</small>
    {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
    {% endif %}
</div>
<div>
        <a href="{% url 'post_list' %}">Вернуться к списку новостей</a>
</div>
{% endblock %}
{% block content %}
    {% for post in posts %}
        <div class="post">
             <p class="date">создано:{{ post.created_date|date:'d-m-Y' }}</p>
             <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
             <p> {{ post.text|truncatechars:200 }}</p>
        </div>
    {% endfor %}
{% endblock %}